---
layout: default
title: Recommendations
permalink: /recommendations/
---
<a class="arrow" href="/">← Home</a>
<p></p>

{% for item in site.data.recommendations  %}
  {% capture this_year %}{{ item.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  {% assign year = this_year %}
  <section class="section">
    <h2 class="section-title"><span>&#x4e94;</span><span>Seen this?</span></h2>
    <ul class="list">
  {% endif %}
  {% if this_year != year %}
    </ul>
  </section>

  <section class="section">
    <h2 class="section-title" id="{{ this_year }}-ref">{{this_year}}</h2>
    <ul class="list">
    {% assign year = this_year %}
  {% endif %}
      <li>
        <span class="date">{{ item.date }}</span><br>
        {{ item.title }}
        <p class="recommendation-text">
        {{ item.description }}
        </p>
      </li>
  {% if forloop.last %}
    </ul>
  </section>
  {% endif %}
{% endfor %}
