---
layout: default
title: Recommendations
permalink: /recommendations/
---
<a href="/">← Home</a>
<p></p>
{% for item in site.data.recommendations  %}
  {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
  {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

  {% if forloop.first %}
  <section class="section">
    <h2 class="section-title"><span>{{this_year}}</span><span>Recommendations</span></h2>
    <ul class="list">
  {% endif %}
      <li>
        <span class="date">{{ item.date }}</span><br>
        {{ item.title }}
        <p class="recommendation-text">
        {{ item.description }}
        </p>
      </li>
  {% if forloop.last %}
    </ul>
  </section>
  {% else %}
    {% if this_year != next_year %}
    </ul>
  </section>

  <section class="section">
    <h2 class="section-title" id="{{ next_year }}-ref">{{next_year}}</h2>
    <ul class="list">
    {% endif %}
  {% endif %}
{% endfor %}
