<section class="section" id="about">
  <h2 class="section-title"><span>&#x4e5d;</span><span>About</span></h2>
  <div class="section-content body">
<p>Robin went to prison once &hellip; to interview the disgraced former president of Taiwan.</p>
<p>That wasn&rsquo;t nearly as scary as the time he accidentally locked himself in the bathroom of an Airbnb in Athens.</p>
<p>Robin&rsquo;s life has taken him to some pretty unexpected places, but it&rsquo;s not the places that interest him as much as the people he meets and the stories they have to tell. As Head of Digital Delivery at the Financial Times, Robin is constantly looking for new ways to tell stories.</p>
<p>Figuring that out has meant learning how to code, how to design, and how to be the best scrum master journalism has ever seen.</p>
<p>Are you a fellow traveller keen to swap tales around the proverbial campfire? Get in touch at robin.kwong@gmail.com, or follow me <a href="https://twitter.com/RobinKwong" target="_blank">on Twitter</a></p>

<p>Want a more traditional view of who I am and what I've done? My CV is <a href="https://uk.linkedin.com/in/robinkwong" target="_blank">on LinkedIn</a>. 
  </div>
</section>