<section class="section">
  <h2 class="section-title"><span>&#x4e94;</span><span>Fellowship</span></h2>
  <div class="section-content body">

<p>I participated in the inaugural Nikkei-FT fellowship programme in San Francisco, from March to May 2017.</p>
<p>During the fellowship, I explored how we can create a need for news by igniting curiosity and encouraging exploration, and how we can tell stories that create <a href="/two-types/">emotional understanding</a> and empathy.</p>

<p>I set out my case for why these are important questions in <a href="/need-for-news/">this post</a>, and summarised my thoughts and findings <a href="/mind-the-gap/">here</a>.</p>

<p class="arrow-container"><a class="arrow" href="/fellowship/">&#8594; Fellowship</a></p>

  </div>
</section>
