<section class="section">
  <h2 class="section-title"><span>&#x4e09;</span><span>Fellowship</span></h2>
  <div class="section-content body">

{% capture my-include %}{% include fellowship.markdown %}{% endcapture %}
{{my-include | markdownify }}

<p>I chronicled what I learnt in <a href="/fellowship/">this section</a>. I also laid out my case for why these are important questions in <a href="/need-for-news/">this post</a>.</p>

<p><a href="/fellowship/">&#8594; Fellowship</a></p>

  </div>
</section>
