<section class="section">
  <h2 class="section-title"><span>&#20845;</span><span>Recommendations</span></h2>
  <p>"Have you seen this yet?" has been the subject line of so many of my emails that I've decided instead to post one new link a week here to something relating to digital or visual journalism.

  The latest:</p>
  <ul class="list">
   	{% for item in site.data.recommendations  %}
      <li>
        <p><a target="_blank" href="{{ item.url }}">{{ item.title }}</a> <span class="project-date">{{ item.date }}</span></p>
      </li>
    {% endfor %}
  </ul>
</section>
