<section class="section">
  <h2 class="section-title"><span>&#20845;</span><span>Seen this?</span></h2>
  <div class="section-content body">
  <p>Weekly recommendations of articles pertinent to digital and visual journalism.</p>

  <ul class="recommendations list">
      {% for item in site.data.recommendations limit:1 %}
      <li>
        <span class="date">{{ item.date }}</span><br>
        {{ item.title }}
        <p>
        {{ item.description }}
        </p>
      </li>

      {% endfor %}
  </ul>
  <p><a href="/recommendations/">&#8594; More recommendations</a></p>
  </div>
</section>
