<section class="section">
  <h2 class="section-title"><span>&#19968;</span><span>Welcome</span></h2>
  <div class="section-content body">
    <p>This is a website about the people who live and work at the intersection of journalism and technology.</p>

    <p>In particular, I am interested in how they organise themselves to create meaningful work. I will be using this space to write about how the way journalim is produced is changing rapidly. A good place to start would be my post on <a href="/project-managers/">why newsrooms need project managers</a>.</p>

    <p>Who am I? My name is Robin Kwong, and I am Special Projects Editor at the Financial Times. This is my personal website. You can find out <a href="/about/">more about me</a> below.</p>
  </div>
</section>
