<section class="section">
  <h2 class="section-title"><span>&#19968;</span><span>Welcome</span></h2>
  <div class="section-content body">
    <p>This is a website about how people can organise themselves to create meaningful work at the intersection of journalism and technology.</p>

    <p>It is also the personal website of Robin Kwong, Newsroom Innovation Chief at the Wall Street Journal. You can start reading <a href="#highlight">my writing</a> below. My most recent post is on:</p> 

    <p><blockquote><span class="most-recent"><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></span></blockquote></p> 

    <p>You can see all my <a href="/archive/">previous posts here</a>. I also regularly <a href="/recommendations/">recommend</a> interesting pieces of digital journalism.</p>

    <p>Want to find out more about me? There's <a href="#about">a whole section</a> below.</p>
    <p>Get in touch by email at robin.kwong@gmail.com, follow me <a href="https://twitter.com/RobinKwong">on Twitter</a>, or visit my <a href="https://uk.linkedin.com/in/robinkwong">LinkedIn profile.</a></p>
  </div>
</section>
