<section class="section">
  <h2 class="section-title"><span>&#19968;</span><span>Welcome</span></h2>
  <div class="section-content body">
    <p>This is a website about how people can organise themselves to create meaningful work at the intersection of journalism and technology.</p>

    <p>It is also the personal website of Robin Kwong, Special Projects Editor at the Financial Times. You can start reading <a href="#highlight">my posts</a> below. My most recent post is on:</p> 

    <p><span class="most-recent"><a href="{{ site.posts.first.url }}">{{ site.posts.first.title }}</a></span></p> 

    <p>I also <a href="/recommendations/">recommend</a> one piece of digital journalism every week.</p>

    <p>Want to find out more <a href="#about">about me</a>? My CV is <a href="https://uk.linkedin.com/in/robinkwong" target="_blank">on LinkedIn</a>.</p>
    <p>Want to get in touch? Email me at robin.kwong@gmail.com or follow me <a href="https://twitter.com/RobinKwong" target="_blank">on Twitter</a></p>
  </div>
</section>
