/* ==========================================================================
   LAYOUT/ARTICLE
   ========================================================================== */

.article {
  margin-bottom: 100px;
  font-family: $f-serif;
  
  .post-title {
  font-family: $f-sans-serif;
  }

  .post-meta {
  font-family: $f-sans-serif;
  }

  h2 {
  font-family: $f-sans-serif;
  } 

}

iframe {
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
}

hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
	margin: 30px 0;
}

blockquote {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 50px;
  padding-left: 15px;
  border-left: 3px solid #f7f7f7;
}