/* ==========================================================================
   LAYOUT/ARTICLE
   ========================================================================== */

.article {
  margin-bottom: 100px;

  p {
  font-family: $f-serif;
  }

  .post-meta {
  font-family: $f-sans-serif;
  }
}
