/* ==========================================================================
   LAYOUT/FOOTER
   ========================================================================== */

.footer {
  text-align: center;

  a {
    margin-left: 6px;
    margin-right: 6px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
  }
}

.footer-peace {
   font-size: 30px;
   line-height: 1;
}
