/* ==========================================================================
   BASE/BASE
   ========================================================================== */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 100px 20px;
  // background: #e57928;
  background: #cccccc;
  font-family: $f-sans-serif;
  font-size: 21px;
  line-height: 1.58;
  color: #333333;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #4863a0;
  text-decoration: none;
  -webkit-transition: color ease-in-out 0.2s;
  transition: color ease-in-out 0.2s;

  @include on-event {
    color: rgba(#fff, .5);
  }
}
